* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10vh 16px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  text-align: center;
}
